{% extends "layout.html" %}
{% block head %}
<script src="{{ url_for('static', filename='autocomplete.js') }}"></script>

{% endblock %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
               {% for field, errors in form.errors.items() %}
            <div class="alert alert-error">
              {{ form[field].label }}: {{ ', '.join(errors) }}
            </div>
{% endfor %}
            <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group offer-type">
                    {{ form.offer_type.label() }}

                    {% if form.offer_type.errors %}
                    {{ form.offer_type(class="form-control-label is-invalid", placeholder="Type") }}
                <div class="invalid-feedback">
                    {% for error in form.offer_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                   {% else %}
                   {{ form.offer_type(class="form-control-label", placeholder="Type") }}
                   {% endif %}
                </div>
                <div class="form-group addresses pac-container" >
                    {{ form.addresses.label(class="form-control-label pac-input", type="text", placeholder="Enter a location") }}
                    <!--        <div id="pac-container" class="addresses">-->
                    <input id="pac-input" class="addresses" type="text" placeholder="Location" autocomplete="off" />
                    <div id="map"></div>

                    </div>
                </div>
                   {% if form.addresses.errors %}
               <div class="invalid-feedback">
                    {% for error in form.addresses.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                  {% else %}
                    {{ form.addresses(class="form-control form-control-label",  placeholder="location") }}
                  {% endif %}
                </div>
                <div class="form-group content">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary") }}
            </div>
        </form>
    </div>
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}&callback=initMap&libraries=places"
      async
    ></script>
{% endblock content %}
