{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <form method="POST" action="" autocomplete= "off" onsubmit="return searchAddressSubmit()">
        <form method="POST" action="" autocomplete= "off">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
               {% for field, errors in form.errors.items() %}
            <div class="alert alert-error">
              {{ form[field].label }}: {{ ', '.join(errors) }}
            </div>
{% endfor %}
            <legend class="border-bottom mb-4">{{ legend }}</legend>
                <div class="form-group">
                    {{ form.title.label(class="form-control-label") }}
                    {% if form.title.errors %}
                        {{ form.title(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.title.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.title(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group offer-type">
                    {{ form.offer_type.label() }}

                    {% if form.offer_type.errors %}
                    {{ form.offer_type(class="form-control-label is-invalid", placeholder="Type") }}
                    <div class="invalid-feedback">
                        {% for error in form.offer_type.errors %}
                        <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                <div class="invalid-feedback">
                    {% for error in form.offer_type.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                   {% else %}
                   {{ form.offer_type(class="form-control-label", placeholder="Type") }}
                   {% endif %}
                </div>
                <div class="form-group addresses pac-container" >
                    {{ form.addresses.label(class="form-control-label pac-input search_address", placeholder="Enter a location") }}
                    {% if form.addresses.errors %}
                        {{ form.addresses(class="form-control form-control-lg is-invalid", id="pac-input") }}
                        <div class="invalid-feedback">
                            {% for error in form.addresses.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.addresses(class="form-control form-control-lg", id="pac-input") }} </br>
                    {% endif %}
                         <small id="addressHelpBlock" class="form-text">
                          Enter for example: 'Skalitzerstrasse 52, Berlin' or 'Mitte, Berlin' or 'Stuttgart'
                        </small> </br>
                     </br>
                </div></br> <div id="map"></div>
                <div class="form-group content">
                    {{ form.content.label(class="form-control-label") }}
                    {% if form.content.errors %}
                        {{ form.content(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.content.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.content(class="form-control form-control-lg") }}
                    {% endif %}
                </div>


                </br>
            </fieldset>
              <div class="form-group">
            {{ form.submit(class="btn btn-secondary", id="button") }}
             </div>
        </form>

    </div>
                  <!--                <div class="form-group addresses">

                    {{ form.addresses.label(class="form-control-label", type="text", placeholder="Enter a location") }}
                    <div id="pac-container" class="addresses">
                    <input id="pac-input" class="addresses" type="text" placeholder="Enter a location"  />
                    </div>
                </div>
                    <div id="map"></div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-secondary") }}
            </div>

        </form>
    </div>
-->

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{GOOGLEMAPS_KEY}}&callback=initMap&libraries=places&v=weekly"
      async
    ></script>
{% endblock content %}

                 <!--
                <div class="form-group addresses">
                     {{ form.addresses.label(class="form-control-label", type="text", placeholder="Enter a location") }}
                    <div id="pac-container" class="addresses">
                    <input id="pac-input" class="addresses" type="text" placeholder="Enter a location"  />
                    </div>
                </div> -->
                 <!--<label for="search_address">Search offers nearby:</label>
                <div class="row pb-md-3">
                    <div class="form-group col-md-11" style="margin-bottom: 0;">
                    <input type="text" name="search_address" id="search_address" class="form-control">
                    </div>
                    <div class="form-group col-md-1" style="margin-bottom: 0;"> -->
                  <!--      <button type="submit" class="btn btn-primary mb-2">Search</button> -->

